<widget>
	<icon>fas fa-biohazard</icon>
	<div class="Hlclone" data-ref="Hlclone_Hlclone">
		<div class="ledContainer">
			<div id="led_1" class="led"></div>
			<div id="led_2" class="led"></div>
			<div id="led_3" class="led"></div>
			<div id="led_4" class="led"></div>
			<div id="led_5" class="led"></div>
			<div id="led_6" class="led"></div>
			<div id="led_7" class="led"></div>
			<div id="led_8" class="led"></div>
			<div id="led_9" class="led"></div>
			<div id="led_10" class="led"></div>
			<div id="led_11" class="led"></div>
			<div id="led_12" class="led"></div>
			<div id="led_13" class="led"></div>
			<div id="led_14" class="led"></div>
			<div id="led_15" class="led"></div>
		</div>
	</div>
</widget>
